<div class="comment column">
    <div class="row space-between comment-info">
        <p class="author-name">{{authorName}}</p>
        <p>
            <i class="far fa-calendar-alt"></i>
            <span class="time">{{commentTime}}</span>
        </p>
    </div>
    <p class="message">{{commentMessage}}</p>
</div>