<div class="comment column">
    <div class="row space-between comment-info">
        <p class="author-name">{author-name}</p>
        <p>
            <i class="far fa-calendar-alt"></i>
            <span class="time">{comment-time}</span>
        </p>
    </div>
    <p class="message">{comment-message}</p>
</div>