<div class="column center">
    <h1>UrbanWealth</h1>
    <nav>
        <ul class="center menu">
            <li><a class="link" href="#">Главная</a></li>
            <li class="dot">&#9679;</li>
            <li><a class="link" href="#">События</a></li>
            <li class="dot">&#9679;</li>
            <li><a class="link" href="#">Войти</a></li>
        </ul>
    </nav>
    <hr>
</div>