<div class="problem-post">
    <h3>{{problemTitle}}</h3>
    <article>
        <p>{{problemText}}</p>
        <hr>
        <p><i class="fas fa-eye"></i>
            <span class="views">123</span>
            <a class="details" href="#">Подробнее</a></p>
    </article>
</div>