<div class="problem-post">
    <h3>Проблема 1</h3>
    <article>
        <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития.
            Повседневная практика показывает, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.</p>
        <hr>
        <p><i class="fas fa-eye"></i>
            <span class="views">123</span>
            <a class="details" href="#">Подробнее</a></p>
    </article>
</div>