<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<div id="top-btn">Наверх</div>
<div class="content">
    {{> header}}
    <main class="column center">
        <!--Change h2 to region title-->
        <h2>Оболонский район</h2>
        <!--REGION BLOCK-->
        <div id="region-info" class="row">
            <div id="img-container"><img
                    src="http://5zvezd.kiev.ua/wp-content/uploads/2011/06/obolonskiy-rayon-kiev.jpg"
                    alt="Region Photo"/></div>
            <svg id="graphics" class="parameters">
            </svg>
        </div>
        <!--PROBLEMS BLOCK-->
        <div id="district-info-container" class="column center wrap">
            <ul class="tabs">
                <li class="tab-link current" data-tab="state">Состояние</li>
                <li class="tab-link" data-tab="activity">Активность</li>
            </ul>

            <div id="state" class="tab-content current">
                <div id="state-info" class="column space-between align-start">
                    <div id="state-btn" class="row center space-around">
                    <button type="submit" id="submit-problem" class="submit-btn">Сообщить о проблеме</button>
                    <button type="submit" id="submit-solution" class="submit-btn">Сообщить о решении</button>
                    </div>
                        <div id="state-content" class="row center space-between">
                    <div id="problems-container">
                        <h3>Проблемы</h3>
                        <hr>
                        <div id="problems">
                        </div>
                    </div>
                    <div id="solutions-container">
                        <h3>Решенные проблемы</h3>
                        <hr>
                        <div id="solutions">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="activity" class="tab-content">
                <div id="activity-info" class="column space-between align-start">
                    <div id="activity-btn" class="row center space-around">
                        <button type="submit" id="submit-review" class="submit-btn">Добавить отзыв</button>
                    <button type="submit" id="submit-event" class="submit-btn">Добавить событие</button>
                    </div>
                    <div id="activity-content" class="row center space-between">
                    <div id="review-container">
                        <h3>Отзывы</h3>
                        <hr>
                        <div id="reviews">
                        </div>
                    </div>
                    <div id="events-container">
                        <h3>События</h3>
                        <hr>
                        <div id="events">
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </div>

          <!--  <nav>
                <ul class="center menu">
                    <li><a class="link problems-navbar" href="#">Проблемы</a></li>
                    <li><a class="link problems-navbar" href="#">События</a></li>
                    <li><a class="link problems-navbar" href="#">Решенные проблемы</a></li>
                </ul>
            </nav>
            <hr>
            <div id="problems" class="problems-blocks">
                <div class="problem-post">
                    <h3>Проблема 1</h3>
                    <article>
                        <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                            влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало
                            повседневной работы по формированию позиции способствует подготовки и реализации новых
                            предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет
                            выполнять важные задания по разработке форм развития.
                            Повседневная практика показывает, что начало повседневной работы по формированию позиции
                            представляет собой интересный эксперимент проверки модели развития. Повседневная практика
                            показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу
                            (специалистов) участие в формировании новых предложений. Идейные соображения высшего
                            порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение
                            позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное
                            информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение
                            направлений прогрессивного развития.</p>
                        <hr>
                        <p><i class="fas fa-eye"></i>
                            <span class="views">123</span>
                            <a class="details" href="#">Подробнее</a></p>
                    </article>
                </div>
                <div class="problem-post">
                    <h3>Проблема 2</h3>
                    <article>
                        <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                            влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало
                            повседневной работы по формированию позиции способствует подготовки и реализации новых
                            предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет
                            выполнять важные задания по разработке форм развития.
                            Повседневная практика показывает, что начало повседневной работы по формированию позиции
                            представляет собой интересный эксперимент проверки модели развития. Повседневная практика
                            показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу
                            (специалистов) участие в формировании новых предложений. Идейные соображения высшего
                            порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение
                            позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное
                            информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение
                            направлений прогрессивного развития.</p>
                        <hr>
                        <p><i class="fas fa-eye"></i>
                            <span class="views">123</span>
                            <a class="details" href="#">Подробнее</a></p>
                    </article>
                </div>
            </div>
        </div>-->
    </main>
    <hr>
    {{> footer}}
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <div id="modal-content">
        </div>
    </div>
</div>
</body>
<script>
    ;$(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: '/graphic',
            async: true,
            success: (data) => {
            drawG(data);
    },
    })
        ;

        function drawG(data) {
            let delta = 20;

            var originW = delta * 2;
            var originH = 0;
            var W = ($('#graphics').width() - 4 * delta);
            var H = ($('#graphics').height() - 2 * delta);
            var stepW = W / data.keys.length;
            var stepH = H / data.gradation.length;
            var step = (H - 2 * delta) / data.graphics.length;

            console.log(W);
            console.log(H);
            console.log(stepW);
            console.log(stepH);

            for (let i = 0; i < data.keys.length; i++) {
                document.getElementById('graphics').appendChild(parseSVG(`<text text-anchor="middle" alignment-baseline="middle"  x="${originW + stepW * i}" y="${delta + H}">${data.keys[i]}</text>`));
            }
            ;

            for (let i = 0; i < data.gradation.length; i++) {
                document.getElementById('graphics').appendChild(parseSVG(`<text text-anchor="middle" alignment-baseline="middle"  x="${delta / 2}" y="${originH + H - stepH * i}">${data.gradation[i]}</text>`));
                document.getElementById('graphics').appendChild(parseSVG(`<path class="graphic_subline" d="M${originW},${originH + H - stepH * i} l${W - stepW},0"></path>`));
            }
            ;

            for (let i = 0; i < data.graphics.length; i++) {
                document.getElementById('graphics').appendChild(parseSVG(`<text alignment-baseline="middle" x="${originW + W - stepW + 3.5 * delta}" y="${H - 2 * delta - step * i}">${data.graphics[i].name}</text>`));
                document.getElementById('graphics').appendChild(parseSVG(`<path class="graphic_line" d="M${originW + W - stepW + 2 * delta},${H - 2 * delta - step * i} l${1 * delta},0" style="stroke: ${data.graphics[i].color}"></path>`));
            }
            ;

            id = {
                counter: 0,
                current: function () {
                    return 'graphic_item_' + this.counter;
                },
                next: function () {
                    this.counter++;
                },
                all: function () {
                    let r_counter = this.counter;
                    let array = [];
                    while (r_counter >= 0) {
                        array.push('graphic_item_' + r_counter);
                        r_counter--;
                    }
                    return array;
                }
            };

            for (let i = 0; i < data.graphics.length; i++) {
                let graphic = data.graphics[i];
                if (graphic.type == "line") {
                    let line_start = '';
                    let line = '';
                    for (let j = 0; j < graphic.points.length; j++) {
                        let point = graphic.points[j];
                        let x = originW + stepW * j;
                        let y = originH + H - (point.value - data.gradation[0]) * stepH;
                        document.getElementById('graphics').appendChild(parseSVG(`<circle id="${id.current()}" cx="${x}" cy="${H}" data-cy="${y}" r="3" class="graphic_circle"></circle>`));
                        let color = point.color || graphic.color;
                        if (color !== undefined) {
                            $('#' + id.current()).css('stroke', color).css('fill', color);
                        }
                        id.next();
                        if (j == 0) {
                            line_start += `M${x},${H}`;
                            line += `M${x},${y}`;
                        } else {
                            line_start += `L${x},${H}`;
                            line += `L${x},${y}`;
                        }
                    }
                    document.getElementById('graphics').appendChild(parseSVG(`<path id="${id.current()}" d="${line_start}" data-d="${line}" class="graphic_line"></path>`));
                    if (graphic.color !== undefined) {
                        $('#' + id.current()).css('stroke', graphic.color);
                    }
                    id.next();
                }
            }
            ;

            $('circle[data-cy]').each(function () {
                $(this).animate({cy: $(this).attr('data-cy')}, 500, 'linear');
                //$(this).attr('cy', $(this).attr('data-cy'));
            });
            $('path[data-d]').each(function () {
                //$(this).animate({d: $(this).attr('data-d')}, 500);
                $(this).attr('d', $(this).attr('data-d'));
            });

            function parseSVG(s) {
                var div = document.createElementNS('http://www.w3.org/1999/xhtml', 'div');
                div.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg">' + s + '</svg>';
                var frag = document.createDocumentFragment();
                while (div.firstChild.firstChild)
                    frag.appendChild(div.firstChild.firstChild);
                return frag;
            }
        }
    });
</script>
</html>