<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
    <meta charset="utf-8" />
	<script src="js/jquery-3.2.1.js"></script>
	<script src="js/core.js"></script>
	<style>

	</style>
</head>
<body>
	
</body>
<html>