<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<div id="top-btn">Наверх</div>
    <div class="content">
        {{> header}}
        <main class="column center">
            <h2>Киев</h2>
            <!--MAP BLOCK-->
            <div id="map-container">
                <svg class="svg-map" viewBox="-20 -100 1200 1000">
                    <path class="district-border" d="M119,100 L210,180 L210,221 L259,253 L260,325 L286,327 L287,340 L257,363 L283,419 L307,447 L307,461 L282,480 L226,437 L199,391 L197,361 L182,353 L132,364 L73,346 L64,388 L56,400 L32,386 L13,405 L1,386 L19,364 L3,331 L37,292 L25,282 L34,251 L45,249 L60,209 L44,189 L61,162 L69,163 L94,151 L98,132 L117,131 L118,99 L119,100 Z" />
                    <path class="district-border"  d="M102,84 L211,181 L265,164 L357,157 L351,179 L355,232 L389,258 L401,259 L423,290 L433,269 L495,269 L485,254 L511,244 L495,204 L494,146 L470,109 L443,105 L427,82 L426,58 L413,57 L409,45 L393,45 L392,36 L376,35 L376,12 L231,1 L229,37 L182,33 L128,41 L157,56 L157,63 L179,70 L180,77 L164,77 L158,103 L130,78 L104,83 Z" />
                    <path class="district-border"  d="M210,181 L265,164 L357,156 L351,181 L355,232 L389,258 L402,259 L423,289 L432,269 L494,269 L498,274 L474,315 L479,339 L468,349 L301,298 L259,272 L258,252 L209,221 L210,181 L210,180 L211,180 Z" />
                    <path class="district-border"  d="M259,272 L302,299 L469,350 L453,381 L430,375 L418,380 L390,359 L371,366 L370,350 L287,327 L259,324 L258,271 L259,272 L259,273 L260,274 L259,273 L260,272 L259,271 L260,272 L259,271 Z" />
                    <path class="district-border"  d="M282,479 L308,461 L308,446 L281,417 L256,363 L287,339 L286,327 L370,350 L372,366 L390,358 L436,397 L443,414 L423,433 L438,455 L410,455 L396,482 L379,484 L380,500 L363,496 L348,520 L339,513 L326,526 L282,479 L283,478 L284,479 Z" />
                    <path class="district-border"  d="M418,379,436,397,443,415,422,433,438,455,410,456,397,481,380,484,381,501,364,497,348,519,338,513,308,547,319,562,319,580,341,589,351,572,386,590,374,602,377,641,392,641,398,634,410,647,397,660,408,672,430,661,448,680,469,686,471,692,465,722,505,763,647,744,598,640,550,566,558,511,582,476,565,441,535,453,526,475,500,476,467,465,464,445,452,413,452,381,430,374,418,380,419,381,419,380" />
                    <path class="district-border"  d="M479,340,468,350,452,382,452,416,464,448,467,465,501,476,525,475,535,453,564,441,565,418,547,409,529,373,488,340,479,340,471,345,468,350,468,351,468,350,467,350,467,351,468,350,468,351" />
                    <path class="district-border"  d="M511,245 L494,202 L494,167 L503,175 L522,176 L526,192 L541,192 L541,177 L523,151 L527,134 L638,149 L711,149 L730,111 L784,83 L785,100 L811,101 L807,46 L825,26 L818,10 L875,32 L899,32 L904,52 L923,48 L928,40 L953,77 L951,161 L895,186 L862,186 L862,198 L856,199 L848,188 L840,198 L853,210 L824,237 L815,241 L817,256 L677,316 L679,337 L690,344 L689,356 L669,365 L658,351 L638,357 L642,343 L627,314 L609,302 L602,285 L609,268 L602,244 L511,245 Z" />
                    <path class="district-border"  d="M817,256 L675,317 L679,337 L690,343 L688,356 L669,364 L658,351 L638,357 L642,343 L626,313 L609,303 L602,285 L609,268 L602,244 L510,245 L485,254 L496,270 L497,274 L473,317 L478,340 L489,341 L529,373 L548,410 L567,419 L564,442 L761,373 L832,302 L825,290 L831,271 L828,257 L818,256 L817,256 L818,256 Z" />
                    <path class="district-border"  d="M841,314 L822,311 L762,373 L565,441 L582,476 L557,513 L550,565 L598,640 L598,610 L617,611 L599,582 L654,575 L657,594 L700,583 L699,598 L741,619 L766,596 L752,569 L765,566 L763,541 L774,531 L817,564 L835,558 L867,563 L854,536 L870,535 L875,528 L865,510 L879,500 L973,525 L981,449 L900,419 L870,390 L871,373 L815,342 L841,333 L841,313 L840,313 Z" />
                </svg>
            </div>

            <!--NEWS BLOCK-->
            <div id="news-container" class="column center">
                <h2>Последние посты</h2>
                <div class="news-blocks">
                    <div class="news-article">
                        <h3>Пост 1</h3>
                        <article>
                            <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития.
                                Повседневная практика показывает, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.</p>
                            <hr>
                            <p><i class="fas fa-eye"></i>
                                <span class="views">123</span>
                                <a class="details" href="#">Подробнее</a></p>
                        </article>
                    </div>
                    <div class="news-article">
                        <h3>Пост 2</h3>
                        <article>
                            <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития.
                                Повседневная практика показывает, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.</p>
                            <hr>
                            <p><i class="fas fa-eye"></i>
                                <span class="views">123</span>
                                <a class="details" href="#">Подробнее</a></p>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        <hr>
        {{> footer}}
    </div>
</body>
</html>