<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<div id="top-btn">Наверх</div>
    <div class="content">
        {{> header}}
        <main class="column center">
            <h2>Киев</h2>
            <!--MAP BLOCK-->
            <div id="map-container">
                <p style="font-size: 4em; color: rgb(71, 71, 71); padding: 60px; border: 1px solid #333">МЕСТО ДЛЯ КАРТЫ</p> <!--div with MAP id will replace paragraph-->
                <div class="map-blocks row center">
                    <div class="map-region yellow"><p>Не очень</p></div>
                    <div class="map-region red"><p>Плохой</p></div>
                    <div class="map-region green"><p>Хороший</p></div>
                </div>
            </div>

            <!--NEWS BLOCK-->
            <div id="news-container" class="column center">
                <h2>Последние посты</h2>
                <div class="news-blocks">
                    <div class="news-article">
                        <h3>Пост 1</h3>
                        <article>
                            <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития.
                                Повседневная практика показывает, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.</p>
                            <hr>
                            <p><i class="fas fa-eye"></i>123 <a class="details" href="#">Подробнее</a></p>
                        </article>
                    </div>
                    <div class="news-article">
                        <h3>Пост 2</h3>
                        <article>
                            <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития.
                                Повседневная практика показывает, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.</p>
                            <hr>
                            <p><i class="fas fa-eye"></i>123 <a class="details" href="#">Подробнее</a></p>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        {{> footer}}
    </div>
</body>
<html>