/*region REGION BLOCK*/
#region-info {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

#district-info-container{
    width: 100%;
}

#state, #activity{
    width: 100%;
}
#state-info, #activity-info{
    width: 100%;
}

#activity-info, #state-info{
    order:1;
    margin:0 auto;
}

#activity-content, #state-content{
    order:2;
    width: 100%;
    margin-top: 2.5%;
}
#activity-btn, #state-btn{
    margin:0 auto;
}

#problems-container,#solutions-container, #events-container, #review-container {
    width:  48%;
}

.problem-post {
    margin-top: 2%;
}

#img-container {
/*    width: 35%; This should be changed to make image responsive */
    float: left;
}

#img-container > img {
    background-color: rgb(45, 182, 51);
    background-size: cover;
}

.parameters {
    margin-left: 2%;
    width: 120%;
    height:400px;
}

.parameters-item:not(:first-child) {
    margin-top: 10%;
}

.parameters-item, .average-value, .submit-btn, .problems-navbar {
    font-family: 'Franklin Gothic Book', serif;
    font-size: 1.3em;
}

.average-value {
    margin-top: 20%;
}
/*endregion*/

.submit-btn {
    margin-top: 3%;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(45, 182, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px 32px;
    font-family: 'Franklin Gothic Book', serif;
}

#submit-problem {
    transform: translate(-50px, 0);
}

#submit-solution {
    transform: translate(50px, 0);
}

.problems-navbar {
    padding: 0 20px;
    font-weight: 800;
}

/*region MEDIA QUERIES*/
@media screen and (max-width: 768px) {

    #region-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .parameters {
        order: 1;
        margin: 0 auto;
    }

    .parameters-item {
        flex-basis: 100%;
        font-size: 1.8em;
    }

    .average-value, #problems-container {
        margin-top: 5%;
    }

    .problems-navbar {
        font-size: 1.75em;
        font-weight: 200;
        letter-spacing: -0.02em;
        margin-top: 10px;
    }

}
/*endregion*/

.graphic_circle {
  transition: all linear 0.5s -0s;
}

.graphic_line {
  fill: transparent;
  stroke: #000;
  stroke-linecap: round;
    stroke-linejoin: round;
  stroke-width: 2px;
  transition: all linear 0.5s 0s !important;
}

.graphic_subline {
  fill: transparent;
  stroke: #00000022;
  stroke-linecap: round;
    stroke-linejoin: round;
  stroke-width: 1px;
  transition: all linear 0.5s 0s;
}