@import 'reset.css';
@import 'home.css';
@import 'district.css';
@import 'event.css';

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond12-Regular.ttf');
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya-Sans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s linear 0s;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
	height: auto;
    min-height: 100%;
	background: rgb(246, 245, 245);
}

div, body, section, header, footer {
    empty-cells: show;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.2;
    text-align: justify;
}

p:first-letter {
    margin-left: 50px;
}

b {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.space-around {
    justify-content: space-between;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.align-start{
    align-items: flex-start;
}

.block {
    display: block;
}

.none {
    display: none;
=======
@import 'reset.css';
@import 'home.css';
@import 'district.css';
@import 'form.css';

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond12-Regular.ttf');
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya-Sans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s linear 0s;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
	height: auto;
    min-height: 100%;
	background: rgb(246, 245, 245);
}

div, body, section, header, footer {
    empty-cells: show;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.2;
    text-align: justify;
}

p:first-letter {
    margin-left: 50px;
}

b {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: block;
}

.none {
    display: none;
>>>>>>> origin/front
}