<form action="/create-event" method="post" class="contact100-form validate-form" data-append-position="start" data-div-to-append="problems">
	<span class="contact100-form-title">
		Создать событие
	</span>

    <div class="wrap-input100 validate-input bg1">
        <span class="label-input100">Название события *</span>
        <input class="input100" name="name" type="text" name="title" value="">
    </div>

    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
        <span class="label-input100">Описание события *</span>
        <input class="input100" name="text" type="text" name="text" placeholder="Описание события">
    </div>

    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
        <span class="label-input100">Автор</span>
        <input class="input100" name="author" type="text" name="author" value="">
    </div>

    <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
			<span>
				Отправить
				<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
			</span>
        </button>
    </div>
</form>